#titleBar {
	-fx-background-color: #336699;
}

.text-field {
	-fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 50;
}

#title {
	-fx-font-size: 30;
}

#inventoryView Text {
	-fx-font-size: 20;
}

#listButton {
	-fx-background-color: transparent;
} 

#backButton {
	-fx-background-color: transparent;
}

.vbox {
	-fx-padding: 10;
}

#blue {
	-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}